.page-container {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
}

h1 {
    margin-bottom: 1rem;
}

h2 {
    padding-top: 2rem;
    padding-left: 2rem;
}

p {
    margin-bottom: 1rem;
}

#profile-nav {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding-top: 2rem;
}

#profile-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

#profile-picture {
    min-width: 100px;
    min-height: 100px;
    border-radius: 50px;
    border: 1px solid black;
    object-fit: cover;
    margin-bottom: 1rem;
}

#sections-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-top: 1rem;
    padding-left: 2rem;
}


/*Masque les catégories*/